body {
    font-family: sourceSansPro, openSans, Tahoma, Geneva, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

figure {
    margin: 0;
    padding: 0;
    font-size: 0;

    img {
        width: 100%;
    }
}

button {
    box-shadow: none;
    border: none;
    outline: none;
    font-family: inherit;
}

.flex {
    display: flex;
}

.wrapper {
    overflow: hidden;
}

h2 {
    margin: 0;
    padding: 0;
}