@font-face {
    font-family: 'sourceSansPro';
    src: url('../fonts/SourceSansPro.ttf'),
         url('../fonts/SourceSansPro.woff2') format('woff2'),
         url('../fonts/SourceSansPro.woff') format('woff');
}

@font-face {
    font-family: 'openSans';
    src: url('../fonts/OpenSans.ttf'),
         url('../fonts/OpenSans.woff2') format('woff2'),
         url('../fonts/OpenSans.woff') format('woff');
}