doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Bino Mockup
        link(rel="stylesheet" type="text/css" href="./css/main.css")
    body
        div.wrapper
            include components/header
            include components/who-we-are-section
            include components/about-us
            include components/our-services
            include components/recent-work
            include components/case-study
            include components/check-out-stats
            include components/pricing
            include components/team
            include components/our-clients
            include components/our-blog
            include components/contacts
            include components/bottom

