section.about-us-section

    div.about-us-section-img
        img(src="images/monitor.png")
    div.about-us-section-content
        p About us
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit molestias quidem reprehenderit sapiente! Doloremque illo mollitia perferendis placeat porro provident reiciendis sint suscipit voluptate. Dolor dolorem quasi repellendus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit molestias quidem reprehenderit sapiente! Doloremque illo mollitia perferendis placeat porro provident reiciendis sint suscipit voluptate. Dolor dolorem quasi repellendus soluta!
            |
