section.about-us-section
    .about-us-wrapper.flex
        .about-us-image.flex
            figure
                img(src="images/monitor.png")
        .about-us-content.flex
            .about-us-content-title.flex
                .rectangle-block
                h2.about-us-content-title-text ABOUT US
            .about-us-content-text
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit molestias quidem reprehenderit sapiente! Doloremque illo mollitia perferendis placeat porro provident reiciendis sint suscipit voluptate. Dolor dolorem quasi repellendus soluta!
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit molestias quidem reprehenderit sapiente! Doloremque illo mollitia perferendis placeat porro provident reiciendis sint suscipit voluptate. Dolor dolorem quasi repellendus soluta!
            .about-us-content2.flex
                input.about-us-btn(type="button" value="BROWSER OUR WORK")
