.Bottom
    .bottom-wrapper.flex
        div.promo.flex
            center
                h1.promo-title Let's Get Started Now. It's FREE!
                p.promo-text 30 days free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
                a(href="#form")
                    input.promo-red-button(type="button" value="START FREE TRIAL")
        div.footer-social.flex
            ul.icons.flex
                li.social
                    a(href="https://www.facebook.com")
                        img(src="./images/iconmonstr-facebook-3-24.png" alt="Facebook")
                li.social
                    a(href="https://twitter.com")
                        img(src="./images/iconmonstr-twitter-3-24.png" alt="Twitter")
                li.social
                    a(href="https://rss.i.ua")
                        img(src="./images/iconmonstr-rss-feed-3-24.png" alt="Rss")
                li.social
                    a(href="https://plus.google.com")
                        img(src="./images/iconmonstr-google-plus-3-24.png" alt="Google+")
                li.social
                    a(href="https://www.linkedin.com")
                        img(src="./images/iconmonstr-linkedin-3-24.png" alt="Linkedin")
                li.social
                    a(href="https://www.skype.com")
                        img(src="./images/iconmonstr-skype-3-24.png" alt="Skype")
                li.social
                    a(href="https://vimeo.com")
                        img(src="./images/iconmonstr-vimeo-3-24.png" alt="Vimeo")
                li.social
                    a(href="https://www.tumblr.com")
                        img(src="./images/iconmonstr-tumblr-3-24.png" alt="Tumblr")
            div.c-rights
                p Dev-Team © All rights reserved
            a(href="#top")
                input.up-arrow(type="button" value="^")