#case-study
    .case-study
        .our-pricing CASE STUDY
        .our-pricing-opus A brief story about how this process works, keep an eye till the end.
        .__red
            .line
            .red-cir
            .line
        .case-study-content
            .case-study-background-box
                .put-your
                    .rectangle
                        .case-study-bulb.price-red
                            img.case-study-img(src='images/lamp-icon-white.png')
                        p.case-study-h2 ACCUMULATE CREATIVE IDEAS
                        .case-study-shape
                        p.case-study-p
                            | Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
                        .a
                            .price-cloose-plan.price-red.about-us-btn READ MORE
                        div
                            .case-study-radio.radio1(type='radio', name='case-study', value='case-study1')
                            .case-study-radio(type='radio', name='case-study', value='case-study2')
                            .case-study-radio(type='radio', name='case-study', value='case-study3')
                    img.put-your-image(src='images/Put%20Your%20Image.jpg')
