#check-out
    .check-out-starts
        .check-out-circle
            span.check-out-icon &#9825;
        .check-out-content
            .check-out-number 3891
            .check-content User Favourites
    .check-out-starts
        .check-out-circle
            span.check-out-icon &#9825;
        .check-out-content
            .check-out-number 281K
            .check-content Posts Last 24 Hours
    .check-out-starts
        .check-out-circle
            span.check-out-icon &#9825;
        .check-out-content
            .check-out-number 618
            .check-content Total Posts
    .check-out-starts
        .check-out-circle
            span.check-out-icon &#10025;
        .check-out-content
            .check-out-number 178
            .check-content Campaign
    .check-out-starts
        .check-out-circle
            span.check-out-icon &#10025;
        .check-out-content
            .check-out-number 285
            .check-content Amazing Features
