section.our-services-section

    .our-services-wrapper.flex
        .ellipse.ellipse_1.flex
            a.a-link
                figure
                    img(src="images/forma-1.png" alt="anchor icon")
        .ellipse.ellipse_2.flex
            a.a-link
                figure
                    img(src="images/forma-2.png" alt="anchor icon")
        .ellipse.ellipse_3.flex
            a.a-link
                figure
                    img(src="images/forma-3.png" alt="anchor icon")

        .our-services-content.flex
            .our-services-content-title.flex
                h2.our-services-content-title-text OUR SERVICES
                .rectangle-block

            .content-block.flex
                div.content-item.flex
                    .content-block-title
                        | WEB DESIGN
                    .content-block-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit molestias quidem reprehenderit sapiente! Doloremque illo mollitia perferendis placeat porro provident

                div.content-item.flex
                    .content-block-title
                        | PRINT DESIGN
                    .content-block-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit molestias quidem reprehenderit sapiente!

                div.content-item.flex
                    .content-block-title
                        | PHOTOGRAPHY
                    .content-block-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi fugit molestias quidem reprehenderit sapiente! Doloremque illo mollitia perferendis placeat porro provident

        .our-services-image
