#our-blog
    .case-study
        .our-pricing OUR BLOG
        .our-pricing-opus
            | Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
        .__red
            .line
            .red-cir
            .line
        .our-blogs
            .our-blogs-sq
                img.our-blog-square(src='images/img-blogs1.jpg')
                .our-blog-square
                    .our-blog-triangle1
                    .our-blog-art art / t-shirt
                    .our-blog-h3 T-SHIRT DESIGN
                    .our-blog-read-more _____
                    .our-blog-p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    .our-blog-read-more Read More  >>
            .our-blogs-sq
                img.our-blog-square(src='images/img-blogs2.jpg')
                .our-blog-square
                    .our-blog-triangle1
                    .our-blog-art art / t-shirt
                    .our-blog-h3 T-SHIRT DESIGN
                    .our-blog-read-more _____
                    .our-blog-p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    .our-blog-read-more Read More  >>
            .our-blogs-sq
                .our-blog-square
                    .our-blog-triangle2
                    .our-blog-art art / t-shirt
                    .our-blog-h3 T-SHIRT DESIGN
                    .our-blog-read-more _____
                    .our-blog-p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    .our-blog-read-more Read More  >>
                img.our-blog-square(src='images/img-blogs3.jpg')
            .our-blogs-sq
                .our-blog-square
                    .our-blog-triangle2
                    .our-blog-art art / t-shirt
                    .our-blog-h3 T-SHIRT DESIGN
                    .our-blog-read-more _____
                    .our-blog-p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
                    .our-blog-read-more Read More  >>
                img.our-blog-square(src='images/img-blogs4.jpg')
