#pricing
  .our-pricing OUR PRICING
  .our-pricing-opus
    | A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
  .__red
    .line
    .red-cir
    .line
  .pricing
    .pricing-box
      .pricing-h1
        p STARTER
      .pricing-text
        .pricing-price-border
          .pricing-price
            div
              p.cost $19
              p.per-month per month
        div
          p Competition Analysis Methods
          p All Ranked URLs
          p International Support System
          p Social Media Tracking
          .a
            .price-cloose-plan CHOOSE PLAN
    .pricing-box
      .pricing-h1.price-red
        p PREMIUM
      .pricing-text
        .pricing-price-border
          .pricing-price
            div
              p#price-red-text $39
              p.per-month per month
        div
          p Competition Analysis Methods
          p All Ranked URLs
          p International Support System
          p Social Media Tracking
          .a
            .price-cloose-plan.price-red CHOOSE PLAN
    .pricing-box
      .pricing-h1
        p BUSINESS
      .pricing-text
        .pricing-price-border
          .pricing-price
            div
              p $99
              p.per-month per month
        p Competition Analysis Methods
        p All Ranked URLs
        p International Support System
        p Social Media Tracking
        .a
          .price-cloose-plan CHOOSE PLAN
