section.recent-work-section
    h1.recent-works-title.flex.
        RECENT WORKS
    h5.recent-works-description.flex.
        It has survived not only five centuries, but also the leap scrambled it to make a type.
    span.separator.
    ul.recent-works-menu.flex.
