section.recent-work-section
    h1.recent-works-title.flex.
        RECENT WORKS
    h5.recent-works-description.flex.
        It has survived not only five centuries, but also the leap scrambled it to make a type.
    span.separator.
    section.recent-work-menu-wrapper.flex
        ul.recent-works-menu.flex
            li.menu-item
                a.menu-link ALL
                    each item in ['PRINT DESIGN', 'ANIMATION', 'ART', 'WEB DESIGN', 'PHOTOGRAPHY', 'VIDEO']
                        li.menu-item
                            a.menu-link=item
    div.recent-work-content.flex
        img.recent-work-content-images.flex(src="images/Welcome-to-chomok.jpg" alt="#")
        img.recent-work-content-images.flex(src="images/Your-brand.jpg" alt="#")
        img.recent-work-content-images.flex(src="images/Jonathan-Doe.jpg" alt="#")
        img.recent-work-content-images.flex(src="images/Place-your-image.jpg" alt="#")
        img.recent-work-content-images.flex(src="images/Truck-transport.jpg" alt="#")
        img.recent-work-content-images.flex(src="images/Our-offers.jpg" alt="#")
        img.recent-work-content-images.flex(src="images/Blockies.jpg" alt="#")
        img.recent-work-content-images.flex(src="images/Your-brand.jpg" alt="#")