.Our-team
    .our-team-wrapper.flex
        center.block-header
            p.block-title OUR TEAM
            p.block-text Meet the best team. Share your thoughts with us.
            .delimiter
                .d-line
                .red-circle
                .d-line
    .our-team-footer
        .our-team-footer-line
            .Dmytro.flex
                .team-photo-Dmytro.faces
                br
                center.team-text.team-text-Dmytro
                    p Dmytro
            .Iriza7.flex
                .team-photo-Iriza7.faces
                br
                center.team-text.team-text-Iriza7
                        p Iryna
            .Bandershtat.flex
                .team-photo-Bandershtat.faces
                br
                center.team-text.team-text-Bandershtat
                        p Vasyl
            .JanaStepanchak.flex
                .team-photo-JanaStepanchak.faces
                br
                center.team-text.team-text-JanaStepanchak
                    p Jana
            .Alyona26.flex
                .team-photo-Alyona26.faces
                br
                center.team-text.team-text-Alyona26
                    p Alyona