section.who-we-are-section.flex
    - var headings = ['SLEEK DESIGN', 'CLEAN CODE', 'CREATIVE IDEAS', 'FREE SUPPORT'];
    - var sources = ['images/glasses-icon.png', 'images/heart-icon.png', 'images/lamp-icon.png', 'images/messages-icon.png'];
    each item, i in headings
        article.who-we-are-item.flex
            section.item-image-heading-section.flex
                figure.item-image-wrapper.flex
                    img(src=sources[i] alt="glasses icon").item-image
                h4.item-heading=item
            p.item-info.
                Lorem ipsum is simply dummy of the  printing and typesettings let. Lorem ipsum has been the industry.
            