.about-us-section{
    display: flex;
    justify-content: center;
    position: relative;
}

.about-us-section-img{
    justify-content: flex-end;
    width: 45%;
    margin-top: 20.9%;
    margin-left: 0;
}

.about-us-section-content{
    justify-content: center;
}