.about-us-wrapper {
    justify-content: flex-start;
}

.about-us-image {
    width: 45%;
    justify-content: flex-end;
    padding: 142px 0 147px 0;
}

.about-us-content {
    width: 34%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 142px 0 147px 78px;
}

.about-us-content2 {
    height: 50%;
    align-items: flex-end;
}

.about-us-content-title {
    flex-direction: row;
    height: auto;
    margin-bottom: 20px;

    .about-us-content-title-text {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        color: $binoDarkGrey2;
        text-transform: uppercase;
    }

    .rectangle-block {
        margin: 0 30px 0 0;
        height: 36px;
        width: 6px;
        background-color: $binoRed;
    }
}

.about-us-content-text {
    width: auto;
    font-size: 14px;
    color: $binoLightGrey;
    line-height: 2.071;
    text-align: left;
}

.about-us-btn {
    background-color: $binoRed;
    border-radius: 3px;
    width: 225px;
    height: 56px;
    font-size: 12px;
    font-family: OpenSans;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: #BD4134;
        box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.35);
    }
}