.check-out {
    width: 100%;
    height: 50%;
    padding: 10% 3% 8% 3%;
    background: url(../images/background_Check_Out_Stats.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.check-out-starts {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.check-out-circle {
    width: 110px;
    height: 110px;
    margin: 0 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255)
}

.check-out-content {
    padding-top: 40px;
}

.check-out-number {
    margin-top: 15%;
    font-size: 17px;
    font-family: "SourceSansPro";
    color: rgb(244, 245, 249);
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.check-content {
    font-size: 10px;
    line-height: 2.5;
    color: rgb(244, 245, 249);
    text-align: center;
}

.check-out-icon {
    font-size: 32px;
}