.header {
    background: {
        image: url("../images/header-background.jpg");
        size: cover;
        repeat: no-repeat;
    }
}

.navigation {
    padding: 2% 13%;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    padding: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.navigation-item {
    margin: 0 15px;
    padding: 10px 0;
    color: #fff;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid $binoRed;
    }

    &.active {
        color: $binoRed;
    }
}