.header {
    position: relative;
    background: {
        image: url("../images/header-background.jpg");
        size: cover;
        repeat: no-repeat;
    }

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        width: 0;
        height: 0;
        border-bottom: 86px solid #fff;
        border-right: 680px solid transparent;
    }

    &::after {
        @extend .header::before;
        border-right: none;
        left: auto;
        right: 0;
        border-bottom: 86px solid #fff;
        border-left: 680px solid transparent;
    }
}

.navigation {
    padding: 2% 13%;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    padding: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.navigation-item {
    margin: 0 15px;
    padding: 10px 0;
    color: $binoWhite;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid $binoRed;
    }

    &.active {
        color: $binoRed;
    }
}

.welcome-section {
    padding: 5% 0;
    justify-content: space-between;
}

.button-wrapper {
    justify-content: center;
    align-items: center;
    padding: 0 2%;
}

.welcome-info-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    color: $binoWhite;
}

.tagline-heading {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.welcome-heading {
    font-size: 52px;
    margin: 20px;
}

.welcome-description {
    font-size: 16px;
    margin-bottom: 30px;
}

.get-started-btn {
    width: 150px;
    padding: 15px;
    margin: 0 15px;
    background: $binoRed;
    border-radius: 3px;
    color: $binoWhite;
    font-weight: bold;
    font-size: 13px;
    box-sizing: content-box;
    border: 2px solid transparent;
}

.learn-more-btn {
    @extend .get-started-btn;
    background: transparent;
    border: 2px solid $binoWhite;
}