#our-clients {
    width: 100%;
    margin: 145px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.our-clients-box-logo {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.our-clients-logo {
    width: 18%;
    margin: 1.5%;
    background: rgb(231, 76, 60);
}

.our-clients-logo-op {
    &:hover {
        opacity: 0.5;
    }
}