.our-blogs{
    display: flex;
    justify-content: space-between;
}
.our-blog-square{
    width: 25%;
}

//.our-blog-triangle1{
//    
//}
//.our-blog-triangle2{
//    
//}
//.our-blog-art{
//    
//}
//.our-blog-h3{
//    
//}
//.our-blog-p{
//    
//}
//.our-blog-read-more{
//    
//}