.our-services-wrapper {
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}

.our-services-image {
    background: {
        image: url("../images/tablet.png");
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    width: 46%;
    height: 765px;
    z-index: 2;
}

.our-services-content {
    background-image: url("../images/background.png");
    background-size: cover;
    width: 54%;
    height: 765px;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

.our-services-content-title {
    padding-top: 150px;
    margin-right: 83px;

    .our-services-content-title-text {
        font-size: 36px;
        color: $binoWhite2;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        text-transform: uppercase;
    }

    .rectangle-block {
        margin: 0 0 0 30px;
        height: 36px;
        width: 6px;
        background-color: $binoRed;
    }

}

.content-block {
    flex-direction: column;
    align-items: flex-end;
}

.content-item {
    width: 80%;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
    padding-left: 30px;

    &:hover {
        cursor: pointer;
        border-left: 5px solid $binoRed;
    }
}

.content-block-title {
    font-size: 18px;
    font-family: "OpenSans";
    color: $binoRed;
    line-height: 1.611;
    text-transform: uppercase;
    padding: 0 83px 0 0;
}

.content-block-text {
    font-size: 14px;
    color: $binoLightGrey;
    line-height: 2.071;
    text-align: right;
    padding-right: 83px;
}

.ellipse {
    position: absolute;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    left: 0;
    right: -8%;

    border-radius: 50%;
    background-color: #f4f5f9;
    border: 5px solid rgba(244, 245, 249, 0.3);
    background-clip: padding-box;
    z-index: 50;
    cursor: pointer;

    &:hover {
        border: 5px solid rgba($binoRed, 0.5);
        background-clip: padding-box;
    }
}

.ellipse_1 {
    top: 35%;
}

.ellipse_2 {
    top: 55%;
}

.ellipse_3 {
    top: 75%;
}
