#pricing {
    width: 100%;
    margin: 145px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.our-pricing {
    width: 100%;
    font-size: 36px;
    font-family: "SourceSansPro";
    color: rgb(106, 106, 106);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.our-pricing-opus {
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
    line-height: 2.071;
    text-align: center;
}

.red-cir {
    width: 8px;
    height: 8px;
    background: #e74c3c;
    border-radius: 50%;
}

.__red {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: -0.071;
    margin-bottom: 70px;
}

.line {
    margin: 4px;
    width: 80px;
    border-bottom: 1px solid #999999;
}

.pricing {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pricing-box {
    width: 25%;
    margin: 0 8px;
}

.pricing-h1 {
    width: 100%;
    height: 205px;
    padding-top: 50px;
    text-align: center;
    background: #999999;
    font-size: 24px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    -moz-transform: matrix(1, 0, 0, 1.00020895730306, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1.00020895730306, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1.00020895730306, 0, 0);
}

.pricing-text {
    width: 100%;
    height: 410px;
    padding-top: 125px;
    background: #f4f5f9;
    text-align: center;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
    line-height: 2.857;
    text-align: center;
    position: relative;

}

.pricing-price {
    width: 87%;
    height: 82%;
    padding-top: 5%;
    background: #fff;
    border-radius: 50%;
    font-size: 24px;
    font-family: "SourceSansPro";
    color: rgb(153, 153, 153);
    font-weight: bold;
    line-height: 0.556;
    text-align: center;
    -moz-transform: matrix(1.0844320621072, 0, 0, 1.09755103384771, 0, 0);
    -webkit-transform: matrix(1.0844320621072, 0, 0, 1.09755103384771, 0, 0);
    -ms-transform: matrix(1.0844320621072, 0, 0, 1.09755103384771, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pricing-price-border {
    width: 50%;
    height: 27%;
    background: rgba(255, 255, 255, 0.51);
    border-radius: 50%;
    position: absolute;
    top: -14%;
    left: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cost {
    width: 100%;
    display: block;
}

.per-month {
    font-size: 9px;
    line-height: 3.2;
}

.price-cloose-plan {
    border-radius: 2px;
    background-color: rgb(153, 153, 153);
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    width: 145px;
    height: 46px;
    margin: 50px 0;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 3.2;
    text-align: center;
    -moz-transform: matrix(0.86153846153846, 0, 0, 0.86517857142857, 0, 0);
    -webkit-transform: matrix(0.86153846153846, 0, 0, 0.86517857142857, 0, 0);
    -ms-transform: matrix(0.86153846153846, 0, 0, 0.86517857142857, 0, 0);

    &:hover {
        background: #e74c3c;
    }
}

.a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.price-red {
    background: #e74c3c;
    &:hover {
        background: rgb(153, 153, 153);
    }
}

#price-red-text {
    color: #e74c3c;
}







