.recent-works-title {
    justify-content: center;
    padding-top: 140px;
    color: $binoGrey;
    font-size: 36px;
    font-family: "SourceSansPro", sans-serif;
    margin: 0;
}

.recent-works-description {
    color: #999999;
    justify-content: center;
    font-family: "OpenSans", sans-serif;
    margin: 0;
    padding-top: 29px;
}

.recent-work-separator-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 29px;
}

.recent-work-separator {
    display: inline-block;
    position: relative;
    height: 8px;
    width: 8px;
    background: #E74C3C;
    border-radius: 50%;
}

.recent-work-separator::before{
    position: absolute;
    display: inline-block;
    content: "";
    height: 2px;
    width: 5vw;
    top: 3px;
    right: 20px;
    background: #999999;
}

.recent-work-separator::after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 2px;
    width: 5vw;
    top: 3px;
    right: auto;
    left: 20px;
    background: #999999;
}

.recent-work-menu-wrapper {
    font-family: "OpenSans", sans-serif;
    justify-content: center;
    padding-top: 68px;
}

.recent-work-menu {
    margin: 0;
    list-style-type: none;
}

.menu-item {
    list-style-type: none;
    border-right: 2px solid #999999;
    transform: skew(-30deg);
    line-height: 10px;
    color: #999999;
    margin-right: 18px;
    font-family: "OpenSans", sans-serif;
}

.menu-link {
    display: inline-block;
    transform: skew(29deg);
    padding-right: 18px;
}

.menu-item:hover {
    color: #E74C3C;
    font-weight: bold;
}

.menu-item:last-child {
    border-right: none;
}

.recent-work-content {
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
}

.recent-work-content-images {
    display: block;
    max-width: 100%;
    height: auto;
}

.content-image {
    max-width: 25%;
    position: relative;
}

.image-hover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: #BB3F32;
}

.content-image:hover .image-hover-overlay {
    opacity: 0.8;
}

.content-image:hover .image-text-overlay-wrapper {
    opacity: 100;
}

.image-text-overlay-wrapper {
    text-align: left;
    display: block;
    color: white;
    opacity: 0;
    font-size: 28px;
    transition: .3s ease-in-out;
    position: absolute;
    top: 65%;
    left: 10%;
    pointer-events: none;
    transform: translate(5%, -15%);
    -ms-transform: translate(10%, -15%);
    line-height: 22px;
}

.image-text-line {
    background: white;
    width: 44px;
    height: 4px;
}

.image-first-text {
    font-size: 24px;
    font-weight: bold;
    font-family: "SourceSansPro", sans-serif;
    letter-spacing: 2px;
}

.image-second-text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}


