.recent-works-title {
  justify-content: center;
  padding-top: 140px;
}

.recent-works-description {
  justify-content: center;
}

.recent-work-menu-wrapper {
  justify-content: center;
}

.menu-link {
  padding-right: 20px;
}

.menu-item {
  list-style-type: none;
  border-right: 1px solid $binoGrey;
}

.recent-work-content-images {
  width: 25%;
}

.recent-work-content {
  flex-wrap: wrap;
  flex-direction: row;
}